@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

#bisection1 {
  background-image: linear-gradient(204deg, transparent 0%, transparent 8%, rgba(255, 203, 0, 0.37) 8%, rgba(255, 203, 0, 0.37) 46%, transparent 46%, transparent 100%), linear-gradient(164deg, transparent 0%, transparent 21%, rgba(255, 203, 0, 0.37) 21%, rgba(255, 203, 0, 0.37) 53%, transparent 53%, transparent 100%), linear-gradient(345deg, transparent 0%, transparent 35%, rgba(255, 203, 0, 0.37) 35%, rgba(255, 203, 0, 0.37) 91%, transparent 91%, transparent 100%), linear-gradient(147deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

#bisection2 {
  background-image: linear-gradient(470deg, transparent 0%, transparent 24%, rgba(255, 182, 0, 0.31) 24%, rgba(255, 182, 0, 0.31) 25%, transparent 25%, transparent 100%), linear-gradient(335deg, transparent 0%, transparent 25%, rgba(255, 182, 0, 0.31) 25%, rgba(255, 182, 0, 0.31) 36%, transparent 36%, transparent 100%), linear-gradient(470deg, transparent 0%, transparent 63%, rgba(255, 182, 0, 0.31) 63%, rgba(255, 182, 0, 0.31) 69%, transparent 69%, transparent 100%), linear-gradient(425deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

#bisection3 {
  background-image: linear-gradient(584deg, transparent 0%, transparent 30%, rgba(249, 172, 10, 0.37) 30%, rgba(249, 172, 10, 0.37) 36%, transparent 36%, transparent 100%), linear-gradient(705deg, transparent 0%, transparent 53%, rgba(255, 255, 255, 0) 53%, rgba(255, 255, 255, 0) 63%, transparent 63%, transparent 100%), linear-gradient(644deg, transparent 0%, transparent 28%, rgba(255, 188, 13, 0.26) 28%, rgba(255, 188, 13, 0.26) 38%, transparent 38%, transparent 100%), linear-gradient(450deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

#gradient {
  background-image: linear-gradient(135deg, transparent 0%, transparent 6%, rgba(71, 71, 71, 0.04) 6%, rgba(71, 71, 71, 0.04) 22%, transparent 22%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 20%, rgba(71, 71, 71, 0.04) 20%, rgba(71, 71, 71, 0.04) 47%, transparent 47%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 24%, rgba(71, 71, 71, 0.04) 24%, rgba(71, 71, 71, 0.04) 62%, transparent 62%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 73%, rgba(71, 71, 71, 0.04) 73%, rgba(71, 71, 71, 0.04) 75%, transparent 75%, transparent 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

#bg {
  background-image: linear-gradient(90deg, rgba(115, 31, 128, 0.23) 0%, rgba(115, 31, 128, 0.23) 14.286%, rgba(60, 22, 121, 0.23) 14.286%, rgba(60, 22, 121, 0.23) 28.572%, rgba(32, 17, 118, 0.23) 28.572%, rgba(32, 17, 118, 0.23) 42.858%, rgba(87, 26, 125, 0.23) 42.858%, rgba(87, 26, 125, 0.23) 57.144%, rgba(170, 40, 135, 0.23) 57.144%, rgba(170, 40, 135, 0.23) 71.43%, rgba(197, 45, 138, 0.23) 71.43%, rgba(197, 45, 138, 0.23) 85.716%, rgba(142, 36, 131, 0.23) 85.716%, rgba(142, 36, 131, 0.23) 100.002%), linear-gradient(135deg, rgba(115, 31, 128, 0.23) 0%, rgba(115, 31, 128, 0.23) 14.286%, rgba(60, 22, 121, 0.23) 14.286%, rgba(60, 22, 121, 0.23) 28.572%, rgba(32, 17, 118, 0.23) 28.572%, rgba(32, 17, 118, 0.23) 42.858%, rgba(87, 26, 125, 0.23) 42.858%, rgba(87, 26, 125, 0.23) 57.144%, rgba(170, 40, 135, 0.23) 57.144%, rgba(170, 40, 135, 0.23) 71.43%, rgba(197, 45, 138, 0.23) 71.43%, rgba(197, 45, 138, 0.23) 85.716%, rgba(142, 36, 131, 0.23) 85.716%, rgba(142, 36, 131, 0.23) 100.002%), linear-gradient(0deg, rgba(115, 31, 128, 0.23) 0%, rgba(115, 31, 128, 0.23) 14.286%, rgba(60, 22, 121, 0.23) 14.286%, rgba(60, 22, 121, 0.23) 28.572%, rgba(32, 17, 118, 0.23) 28.572%, rgba(32, 17, 118, 0.23) 42.858%, rgba(87, 26, 125, 0.23) 42.858%, rgba(87, 26, 125, 0.23) 57.144%, rgba(170, 40, 135, 0.23) 57.144%, rgba(170, 40, 135, 0.23) 71.43%, rgba(197, 45, 138, 0.23) 71.43%, rgba(197, 45, 138, 0.23) 85.716%, rgba(142, 36, 131, 0.23) 85.716%, rgba(142, 36, 131, 0.23) 100.002%), linear-gradient(90deg, rgb(128, 128, 128), rgb(23, 23, 23));
}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 380px;
  perspective: 1000px;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 330px) {
  .flip-card {
    width: 250px;
    height: 480px;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  color: black;
  border-radius: 10px;
}

.flip-card-back {
  background-color: #e57e2c;
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
}